* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */

}
#B{
    /* padding-left:1rem; */
    font-size: 2.5rem;
}


/* font */
.inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  
  .tangerine-regular {
      font-family: "Tangerine", cursive;
      font-weight: 400;
      font-style: normal;
      font-size: 4rem;
    }
    
    .tangerine-bold {
      font-family: "Tangerine", cursive;
      font-weight: 700;
      font-style: normal;
    }
html, body {
    width: 100%;
    overflow-x: hidden; 
}

/* Basic Styling */
body {
    max-width: 100%; 
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px; 
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-right: 20px; 
}

nav ul a {
    text-decoration: none;
    color: white;
}

/* Header */
.fit {
    color: #E6533C;
    font-size: 2em;
    font-weight: bolder;
}

.primary-button, .primary-buttonn {
    background-color: #E6533C;
    color: #FFFFFF;
    height: 40px;
    width: 110px;
    border-radius: 50px;
    border: none;
    
}

.primary-buttonn{
    background-color: #222222;
    border: 1px solid gray;
}

/* Section Styling */
.pre-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    padding: 50px 0;
    padding-left: 14rem;
    background-image: linear-gradient(#1B1B1B,#222222, #090909)
    
}

#title {
    font-size: 3rem;
}

.first-para {
    width: 50%;
}

.first-img {
    width: 50%;
    
}

.opa {
    opacity: 0.3;
}

/* Motivation Section */
.motiv {
    text-align: center;
    margin: 8em 0;
}

.head {
    font-size: 3rem;
    padding-bottom: 1rem;
}

/* Grid Section */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.grid-container img {
    border-radius: 50%;
}

/* Run Section */
.run {
    background-color: #222222;
    border-radius: 2rem;
    max-width: 100%; 
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.run img {
    border-radius: 2em;
    
}
.running{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.nio{
    text-align: justify;
    padding-bottom: 2rem;
}

.side {
    max-width: 100%; 
    padding: 0 1rem; 

/* Simple Section */
.simple {
    text-align: center;
    padding: 5em 1em; 
}
.hum{
    padding-bottom: 1.5rem;
}
/* Flexi Section */
.flexi {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #191919;
    padding: 3em 1em;
    box-sizing: border-box;
}

.tab table {
    border-collapse: collapse;
    width: 100%;
    background-color: #393939;
}

.tab table th, .tab table td {
    padding: 15px;
    text-align: center;
}

/* Meet Our Team Section */
.hello {
    text-align: center;
    margin: 5em 0;
}

.grid-contain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #1A1A1A;
    margin-bottom: 3em;
}

.grid-contain img {
    height: 19em;
    width: 100%;
    border-radius: 1em;
}

/* Footer */
.foot {
    width: 100%;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-evenly;
    padding: 6em 1em;
    box-sizing: border-box; 
}

.foot h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.foot ol {
    list-style: none;
    opacity: 0.4;
}

.foot hr {
    opacity: 0.2;
    margin: 2em 0;
}

/* Responsive Styling */
@media screen and (max-width: 576px) {
    /* Navigation */
    nav ul {
        display: none;
    }
    
    /* Pre-title Section */
    .pre-title {
        flex-direction: column;
        text-align: center;
    }
    
    .first-para, .first-img {
        width: 100%;
    }
    
    /* Grid Section */
    .grid-container {
        grid-template-columns:repeat(1,1fr);
    }

    /* Run Section */
    .run {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    
    /* Meet Our Team Section */
    .grid-contain {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Footer */
    .foot {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .pre-title{
        padding-left: 0rem;
    }
    .flexi{
        display: flex;
        flex-direction: column;
    }
    /* .foot{
        padding-left: 0px;
    } */

    /* .lastc{
        flex-direction: column;
    } */
    .hasan{
        margin-top: 1rem;
        padding-left: 3rem;
    }
}

/*  boro screeen er jonno */
@media screen and (min-width: 992px) {
    
    nav {
        margin: 20px 100px; 
    }

    /* Pre-title Section */
    .pre-title {
        padding-left: 18rem; 
    }

    #title {
        font-size: 3.5rem; 
    }

    .first-para {
        width: 45%; 
    }

    .first-img {
        width: 45%; 
    }

    /* Motivation Section */
    .motiv {
        margin: 10em 0; 
    }

    .head {
        font-size: 3.5rem; 
    }

    /* Grid Section */
    .grid-container {
        gap: 2rem; 
    }

    .train-title {
        font-size: 1.25rem; 
    }

    .desopaciity {
        font-size: 1rem; 
    }

    /* Run Section */
    .run {
        padding: 4em; 
        margin-top: 6rem; 
    }

    .running {
        font-size: 3.5rem; 
    }

    .side {
        padding: 0 2rem; 
    }

    .ri img {
        max-width: 100%; 
    }

    /* Flexi Section */
    .flexi {
        padding: 4em 2em; 
        gap: 3rem; 
    }

    .tab {
        width: 45%; 
    }

    .tab table th, .tab table td {
        font-size: 1rem; 
    }

    form input.in {
        width: 23rem; 
    }

    /* Meet Our Team Section */
    .grid-contain {
        grid-template-columns: repeat(3, 1fr); 
        gap: 2rem; 
    }

    .grid-contain img {
        height: 22em; 
    }

    /* Footer */
    .foot {
        padding: 8em 2em; 
    }

    .foot h1 {
        font-size: 1.75em;
    }
}
/* tranning titlle */
.train-title{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1rem;
}

/* tranning desec */
.desopaciity{
    text-align:justify;
    opacity: 0.4;
}
.grid-contain img{
    height: 19em;
    width: 23em;
    border-radius: 1em;
    /* background-image: linear-gradient(to bottom right, red, yellow); */
}

form input{
    background-color: #393939;
    border: none;
    padding-bottom: 1px;
    
}
.in{
    width: 21.5rem;
    height: 2rem;
    border-radius: 0.5rem;
}
.out{
    height: 2rem;
    border-radius: 0.5rem;
}
/* cantact us */
.contactus{
    height: 15rem;
    width: 100%;
    background-color: #393939;   
}

.contactus:hover{
    background-color: brown;
    box-shadow: inset;
    transform: scaleY(1.1);
    transition-duration: 1s;
}

.contactus form input{
    background-color: white;
    height:1rem;
    width: 18rem;
    padding-left: 8rem;

}

.contactus button{
    height: 2rem;
    width: 5rem;
    text-align: center;
    margin-left:13%;
    margin-bottom: 1rem;
    
}

.contactus h2{
    color: #E6533C;
}
.lastc{
    display: flex;
}

.lastc p{
    color: tomato;
}

.run button{
    margin-bottom: 1rem;
}
/* text-over image */
.grid-contain{
    position: relative;
}

.banner-text{
    position: absolute;
    top: 15rem;
    padding-left: 1rem;
}
.banner-textt{
    position: absolute;
    top: 15rem;
    margin-left: 10rem;
}
.opaa{
    opacity: 0.6;
}

